<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="petik.or.arisandi.id.assessmentmustahik">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name = ".Util.AppController"
        android:allowBackup="true"
        android:icon="@drawable/petik"
        android:label="@string/app_name"
        android:roundIcon="@drawable/petik"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Homepage" />
        <activity android:name=".Datapripadi" />
        <activity android:name=".showpribadi" />
        <activity android:name=".Datakeluarga" />
        <activity android:name=".ShowKeluarga" />
        <activity android:name=".DataFisikRumah" />
        <activity android:name=".Showfisikrumah" />
        <activity android:name=".BiayaMakan" />
        <activity android:name=".Showmakan" />
        <activity android:name=".Nonmakan" />
        <activity android:name=".Shownonmakan" />
        <activity android:name=".Jmlmknnonmkn" />
        <activity android:name=".showjmlmkn" />
        <activity android:name=".DataKonfirmasi" />
        <activity android:name=".ShowKonfirmasi" />
        <activity android:name=".InformasiPendSpiritual" />
        <activity android:name=".ShowInfoSpiritual" />
        <activity android:name=".HasilSurvey" />
        <activity android:name=".TentangPengembang" />
        <activity android:name=".TentangPeTIK"></activity>
    </application>

</manifest>